language: python
python:
    - "3.5"
    - "3.8"
env:
    - DJANGO_SETTINGS_MODULE=workbench.settings
      MOZ_HEADLESS=1
install:
    - "pip install -r requirements/base.txt"
    - "pip install -r requirements/test.txt"
    - "pip install -r $VIRTUAL_ENV/src/xblock-sdk/requirements/base.txt"
    - "pip install -r $VIRTUAL_ENV/src/xblock-sdk/requirements/test.txt"
    - "pip install -e ."
    - "pip install 'selenium<3'" # xblock-sdk installs a newer version but we still need 2.x
    - "npm install"
script:
    - pycodestyle group_project_v2 tests --max-line-length=120 --ignore=E402,W504 # Ignoring line break after binary operator and module level import
    - pylint group_project_v2 --rcfile=pylintrc
    - pylint tests --rcfile=tests/pylintrc
    - ./node_modules/jshint/bin/jshint group_project_v2 tests
    - xvfb-run ./node_modules/.bin/karma start tests/js/karma.conf.js --single-run
    - cat coverage/js/karma_coverage.txt
    - mkdir var
    - touch workbench.log
    - xvfb-run pytest
notifications:
  email: false
addons:
  firefox: "43.0"
cache:
  npm: true
  pip: true
