{% ifnotequal activity_section.title None %}
  <h4>{{ activity_section.title }}</h4>
{% endifnotequal %}
{% ifnotequal activity_section.content_html None %}
  {% autoescape off %}
    {{ activity_section.content_html }}
  {% endautoescape %}
{% endifnotequal %}
{% for activity_question in activity_section.questions %}
  {% autoescape off %}
    {{ activity_question.render }}
  {% endautoescape %}
{% endfor %}
{% for activity_assessment in activity_section.assessments %}
  {% autoescape off %}
    {{ activity_assessment.render }}
  {% endautoescape %}
{% endfor %}
{% for file_link in activity_section.file_links %}
  <div><a href="{{ file_link.location }}" title="{{ file_link.description }}" target="_blank">{{ file_link.title }}</a></div>
{% endfor %}
{% if activity_section.is_upload_available %}
<form class="uploader">
  {% for file_link in activity_section.file_links %}
    <div class="upload_item">
      <div>{{ file_link.title }}</div>
      <input class="{{ file_link.id }}_name" placeholder="Browse your computer to upload file..." disabled="disabled" type="text" />
      <label for="{{ file_link.id }}">
        <span class="side button tiny rounded {{ file_link.id }}_label">Browse</span>
      </label>
      <input style="display:none;" class="file_upload" name="{{ file_link.id }}" id="{{ file_link.id }}" type="file" />
      {% if file_link.description %}
        <div class="description">{{ file_link.description }}</div>
      {% endif %}
    </div>
  {% endfor %}
</form>
<button id="upload_submissions">Upload</button>
{% endif %}
