{% autoescape off %}
<div class="group-project-xblock-wrapper">
  <nav>
    <ul>
      <li>
        <a href="#" class="revealer" id="overview">1</a>
      </li>
      <li>
        <a href="#" class="revealer" id="upload">2</a>
      </li>
      <li>
        <a href="#" class="revealer" id="review">3</a>
      </li>
      <li>
        <a href="#" class="revealer" id="grade">4</a>
      </li>
  </nav>

  <div id="activity_overview" class="activity_section">
    <h2>Activity 1 - Overview</h2>
    <h4>Description</h4>
    <p>As one of the world&rsquo;s leading research universities, Boston University is currently engaged in more than 340 separate research, service, and educational programs and projects.</p>
    <hr />
    <h2>Details</h2>
    <ul>
    <li>Type: <b>Issue Tree</b></li>
    <li>Deadline: <b>04/24/2014</b></li>
    <li>Deliverables: <b>PPT</b></li>
    <li>Grading: <b>Loren Ipsum</b></li>
    </ul>
    <hr />
    <h2>Suggested Schedule</h2>
    <ul>
    <li>Activity Deadline: <b>05/12/2014</b></li>
    <li>Reviews: <b style="color:#E37222">Please complete your reviews within 3 days once they are available for grading.</b></li>
    </ul>
    <hr />
    <h2>Project Materials</h2>
    <p>With 16 schools and colleges BU offers our students more than 250 programs of study in science and engineering, social science and humanities, health science, the arts, and other professional disciplines.</p>
    <div><a href="#">Download Issue Tree Template</a></div>
    <div><a href="#">Download Instructions</a></div>
    <div><a href="#">Download Grading Criteria</a></div>
  </div>

  <div id="activity_upload" class="activity_section">
    <h2>
      <span>Activity 1: Upload</span>
      <span class="orange">due 03/27/2014</span>
    </h2>
    <h4>Team Submission</h4>
    <p>As one of the world's leading research universities, Boston University is currently engaged in more than 340 separate research, service, and educational programs and projects.</p>
    <h2>Current Files</h2>
    <ul>
      <li>
        <a href="#">TeamMktg_v04.mov</a>
      </li>
    </ul>
    <button class="button">Upload</button>
  </div>

  <div id="activity_review" class="activity_section">
    <h2>
      <span>Activity 1: Reviews</span>
      <span class="orange">due 04/01/2014</span>
    </h2>
    <h4>Lorem Ipsum</h4>
    <p>As one of the world's leading research universities, Boston University is currently engaged in more than 340 separate research, service, and educational programs and projects.</p>
    <button class="button">Download Grading Criteria</button>
    <hr />
    <div class="peers">
      Peer Group Here
    </div>
    <hr />
    <h2>
      Evaluate Teammate
    </h2>
    <div class="question">
      <div class="prompt">
        Did username lorem ipsum sit amet, consectetur apidiscing elit?
      </div>
      <div class="answer">
        <select>
          <option value="--">Grade</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
    </div>
    <hr />
    <h2>Questions</h2>
    <div class="question">
      <div class="prompt">
        Did username lorem ipsum sit amet, consectetur apidiscing elit?
      </div>
      <textarea placeholder="vfegse rgse rg serg serg rdyhrdtyhj de"></textarea>
    </div>
    <div class="question">
      <div class="prompt">
        Did username lorem ipsum sit amet, consectetur apidiscing elit?
      </div>
      <textarea placeholder="vfegse rgse rg serg serg rdyhrdtyhj de"></textarea>
    </div>
    <div class="question">
      <div class="prompt">
        Did username lorem ipsum sit amet, consectetur apidiscing elit?
      </div>
      <textarea placeholder="vfegse rgse rg serg serg rdyhrdtyhj de"></textarea>
    </div>
    <button>Submit</button>
  </div>

  <div id="activity_grade" class="activity_section">
    <h2>
      <span>Activity 1: Reviews</span>
      <span class="orange">due 04/01/2014</span>
    </h2>
    <h4>Lorem Ipsum</h4>
    <p>As one of the world's leading research universities, Boston University is currently engaged in more than 340 separate research, service, and educational programs and projects.</p>
    <button class="button">Download Grading Criteria</button>
    <hr />
    <div class="peers">
      Peer Group Here
    </div>
    <hr />
    <h2>
      <span>Evaluate Submission</span>
      <a href="#">View team Submission</a>
    </h2>
    <textarea placeholder="vfegse rgse rg serg serg rdyhrdtyhj de"></textarea>
    <hr />
    <h2>Questions</h2>
    <div class="question">
      <div class="prompt">
        Did submission blah blah blah wflakwef walekfj lwef?
      </div>
      <div class="answer">
        <select>
          <option value="--">Grade</option>
          <option value="00">00</option>
          <option value="05">05</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="35">35</option>
          <option value="40">40</option>
          <option value="45">45</option>
          <option value="50">50</option>
          <option value="55">55</option>
          <option value="60">60</option>
          <option value="65">65</option>
          <option value="70">70</option>
          <option value="75">75</option>
          <option value="80">80</option>
          <option value="85">85</option>
          <option value="90">90</option>
          <option value="95">95</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
    <div class="question">
      <div class="prompt">
        Did submission blah blah blah wflakwef walekfj lwef?
      </div>
      <div class="answer">
        <select>
          <option value="--">Grade</option>
          <option value="00">00</option>
          <option value="05">05</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="35">35</option>
          <option value="40">40</option>
          <option value="45">45</option>
          <option value="50">50</option>
          <option value="55">55</option>
          <option value="60">60</option>
          <option value="65">65</option>
          <option value="70">70</option>
          <option value="75">75</option>
          <option value="80">80</option>
          <option value="85">85</option>
          <option value="90">90</option>
          <option value="95">95</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
    <div class="question">
      <div class="prompt">
        Did submission blah blah blah wflakwef walekfj lwef?
      </div>
      <div class="answer">
        <select>
          <option value="--">Grade</option>
          <option value="00">00</option>
          <option value="05">05</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="35">35</option>
          <option value="40">40</option>
          <option value="45">45</option>
          <option value="50">50</option>
          <option value="55">55</option>
          <option value="60">60</option>
          <option value="65">65</option>
          <option value="70">70</option>
          <option value="75">75</option>
          <option value="80">80</option>
          <option value="85">85</option>
          <option value="90">90</option>
          <option value="95">95</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
    <div class="question">
      <div class="prompt">
        Did submission blah blah blah wflakwef walekfj lwef?
      </div>
      <div class="answer">
        <select>
          <option value="--">Grade</option>
          <option value="00">00</option>
          <option value="05">05</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="35">35</option>
          <option value="40">40</option>
          <option value="45">45</option>
          <option value="50">50</option>
          <option value="55">55</option>
          <option value="60">60</option>
          <option value="65">65</option>
          <option value="70">70</option>
          <option value="75">75</option>
          <option value="80">80</option>
          <option value="85">85</option>
          <option value="90">90</option>
          <option value="95">95</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
 </div>

  <div class="lesson-pager">
    <div>
      <a href="/courses/M___M___M/lessons/i4x:______M___M___chapter___104010d99afd4dbeab1f1cea964b87c7/module/i4x:______M___M___vertical___a14e3f393276441ea20a3fe03f51f6b2">
        <div class="page-to previous">
          <i class="fa fa-chevron-left"></i>
        </div>
      </a>
      <a href="None">
        <div class="page-to next">
          <i class="fa fa-chevron-right"></i>
        </div>
      </a>
    </div>
  </div>

</div>
{% endautoescape %}
