{% autoescape off %}
<div class="group-project-xblock-wrapper">
  <nav>
    Steps
    <ul>
      {% for activity_component in group_activity.activity_components %}
        <li>
          <a href="#" class="revealer" id="{{ activity_component.id }}">{{ activity_component.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% for activity_component in group_activity.activity_components %}
    <div id="activity_{{ activity_component.id }}" class="activity_section">
      <h1>{{ activity_component.name }}</h1>
      {% for activity_section in activity_component.sections %}
        {% autoescape off %}
          {{ activity_section.render }}
        {% endautoescape %}
        <hr />
      {% endfor %}
    </div>
  {% endfor %}

  <div class="lesson-pager" style="clear:both;">
    <div>
      <a href="#" id="prev">
        <div class="page-to previous">
          <i class="fa fa-chevron-left"></i>
        </div>
      </a>
      <a href="#" id="next">
        <div class="page-to next">
          <i class="fa fa-chevron-right"></i>
        </div>
      </a>
    </div>
  </div>

</div>
{% endautoescape %}
