{% load i18n %}
{% autoescape off %}
<div class="group-project-xblock-wrapper">
  {% for activity_stage in group_activity.activity_stages %}
    <div id="activity_{{ activity_stage.id }}" class="activity_section">
    {% if activity_stage.grading_override %}
      <div class="grading_override {% if ta_graded %}ta_graded{% endif %}">
        <span class="default_message">Grading View</span>
        <span class="custom_message"></span>
      </div>
    {% endif %}
    {% if activity_stage.is_open %}
      <h1>
        {{ activity_stage.title }}
        {% if activity_stage.close_date %}
          {% if activity_stage.is_closed %}
            <span class="highlight">closed on {{ activity_stage.formatted_close_date }}</span>
          {% else %}
            <span class="highlight">due {{ activity_stage.formatted_close_date }}</span>
          {% endif %}
        {% endif %}
      </h1>
      {{activity_stage.render|safe}}
    {% else %}
      <h1>
        {{ activity_stage.title }}
        {% if activity_stage.open_date %}
          <span class="highlight">opens {{ activity_stage.formatted_open_date }}</span>
        {% endif %}
      </h1>
      <div class="error">This stage has not yet been opened</div>
    {% endif %}
    </div>
  {% endfor %}

  <!-- These 3 scripts contain json data - they are accessed using JSON.parse($('.peer_group', element).html()); -->
  <script class="peer_group" type="application/json">{{ team_members }}</script>
  <script class="assess_groups" type="application/json">{{ assess_groups }}</script>
  <script class="step_map" type="application/json">{{ group_activity.step_map }}</script>

  <div class="message">
    <div class="modal-bg"></div>
    <div class="xblock-reveal reveal-modal open">
      <div class="close-box">
        <i class="fa fa-times-circle"></i>
      </div>
      <div class="message_text"></div>
      <div class="action_buttons">
        <button class="button radius small">OK</button>
      </div>
    </div>
  </div>

  <div class="review_submissions_dialog">
    <div class="modal-bg"></div>
    <div class="xblock-reveal reveal-modal open small">
      <div class="close-box close_review_dialog">
        <i class="fa fa-times-circle"></i>
      </div>
      <div class="title">{% trans "Group Submission" %}</div>
      <div>{% trans "Please review the file(s) below to evaluate the group's work." %}</div>
      <div class="other_submission_links"></div>
    </div>
  </div>

</div>
{% endautoescape %}
