{% load i18n %}

<div class="add-xblock-component new-component-item adding">
  <div class="new-component">
    <h5>{% trans "Add New Component" %}</h5>
    <ul class="new-component-type">
      <li><a href="#" class="single-template add-xblock-component-button" data-category="group-project-v2-activity">{% trans "Group Project Activity" %}</a></li>
      <li><a href="#" class="single-template add-xblock-component-button" data-category="group-project-v2-navigator">{% trans "Group Project Navigator" %}</a></li>
    </ul>
  </div>
</div>
