{% load i18n %}
{% if group_activity.has_submissions %}
  {% for file_link in group_activity.submissions %}
    {% if file_link.location %}
      <div><a href="{{ file_link.location }}"{% if file_link.description %} title="{{ file_link.description }}"{% endif %} target="_blank">{{ file_link.title }}{% if file_link.file_name %} ({{ file_link.file_name }} - {{ file_link.submission_date }}){% endif %}</a></div>
    {% else %}
      <div class="no_submission"{% if file_link.description %} title="{{ file_link.description }}"{% endif %}>{{ file_link.title }} ({% trans "This file has not been submitted by this group" %})</div>
    {% endif %}
  {% endfor %}
{% else %}
  <div class="submissions_message">{% trans "No submissions have been uploaded for this group" %}</div>
{% endif %}
