{% load i18n %}
<div class="group-project-resources-view">
  <div class="group-project-navigator-view-header">
    <span class="group-project-navigator-view-title">{{ view.display_name_with_default }}</span>
    <span class="group-project-navigator-view-close fa-times"></span>
  </div>
  <div class="group-project-navigator-view-content">
    {% for activity_content in activity_contents %}{{ activity_content|safe }}{% endfor %}
  </div>

  <div class="player-modal reveal-modal medium">
    <div class="close-reveal-modal">
      <span class="fa-times-circle"></span>
    </div>
    <div class="player-wrapper"></div>
  </div>
  <div class="player-modal-bg"></div>
</div>