{% load i18n %}
<div class="group-project-submissions-view">
  <div class="group-project-navigator-view-header">
    <span class="group-project-navigator-view-title">{{ view.STUDENT_VIEW_TITLE }}</span>
    <span class="group-project-navigator-view-close fa fa-times"></span>
  </div>
  <div class="group-project-navigator-view-content">
    {% for activity_content in activity_contents %}{{ activity_content|safe }}{% endfor %}
  </div>
  <div class="action_buttons">
    <a href="#" class="cancel_upload">Cancel upload</a>
    <a href="#" class="check_submissions">Check Submissions</a>
  </div>
</div>
