{% load i18n %}
{% for activity in submissions_map %}
  <div class="group-project-activity-wrapper">
    <div class="group-project-activity-header">{{ activity.display_name }}</div>
    <div class="group-project-submissions">
      {% if activity.submissions_required %}
        {% for stage in activity.stages %}
          <form class="uploader">
            <input type="hidden" name="activity_id" class="activity_id" value="{{ activity.id }}"/>
            <input type="hidden" name="stage_id" class="stage_id" value="{{ stage.id }}"/>
            {% for file_link in stage.submissions %}
              <div class="upload_item">
                <div class="upload_title">{{ file_link.title }}:</div>
                <div class="upload_item_wrapper" {% if file_link.location %} data-location="{{ file_link.location }}" {% endif %}>
                  <input
                    class="{{ file_link.id }}_name" placeholder="Browse your computer to upload file..."
                    disabled="disabled" type="text"
                    {% if file_link.file_name %}
                      value="{{ file_link.file_name }}" data-original-value="{{ file_link.file_name }}"
                    {% endif %}
                  />
                </div>
                <label for="{{ file_link.id }}">
                  <span class="side button tiny radius {{ file_link.id }}_label fa-paperclip"></span>
                </label>
                <input style="display:none;" class="file_upload" name="{{ file_link.id }}" id="{{ file_link.id }}" type="file" />
                {% if file_link.description %}
                  <div class="description">{{ file_link.description }}</div>
                {% endif %}
                <div class="{{ file_link.id }}_progress_box file-progress-box">
                  <div class="{{ file_link.id }}_progress file-progress"></div>
                </div>
                {% if file_link.location %}
                  <div class="upload_item_data">
                    {% trans "Uploaded by" %}
                    <a href="{{course_id}}/discussion/forum/users/{{ file_link.user_details.id }}">{{ file_link.user_details.full_name }}</a>
                    on {{ file_link.submission_date }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </form>
        {% endfor %}
      {% else %}
        <div>{% trans "No uploads required for this activity" %}</div>
      {% endif %}
    </div>
  </div>
{% endfor %}