{% load i18n %}
<div class="group-project-activity-wrapper" data-activity-id="{{ activity.id }}">
  <div class="group-project-activity-header">{{ activity.display_name }}</div>
  {% if stage_contents %}
    <ul class="group-project-activity-content group-project-activity-stages">
      {% for stage_content in stage_contents %}
        <li>{{ stage_content|safe }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="group-project-activity-content">{% trans "No stages available for this activity" %}</div>
  {% endif %}
</div>
