{% load i18n %}
{% autoescape off %}
<div class="group-project-xblock-wrapper">
  {% for stage_content in stage_contents %}
    {{ stage_content|safe }}
  {% endfor %}

  <!-- This script contain json data - it is accessed using JSON.parse($('.initialization_data', element).html()); -->
  <script class="initialization_data" type="application/json">{{ initialization_data }}</script>

  <div class="message">
    <div class="modal-bg"></div>
    <div class="xblock-reveal reveal-modal open">
      <div class="close-box">
        <i class="fa fa-times-circle"></i>
      </div>
      <div class="message_text"></div>
      <div class="action_buttons">
        <button class="button radius small">OK</button>
      </div>
    </div>
  </div>
</div>
{% endautoescape %}
