.group-project-team-wrapper .group-project-team-email-group {
    text-align: right;
    display: block;
    margin-bottom: 5px;
}

.group-project-team-wrapper .group-project-team-member {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.group-project-team-wrapper .group-project-team-member:first-of-type {
    border-top: 1px solid #ccc;
}

.group-project-team-wrapper .group-project-team-member-avatar {
    width: 10%;
    display: inline-block;
    vertical-align: top;
}

.group-project-team-wrapper .group-project-team-member-data {
    display: inline-block;
    height: 130px;
}

.group-project-team-wrapper .group-project-team-member-city {
    color: #8f8f8f;
}