.group-project-xblock-wrapper > nav ul{
  list-style: none;
}
.group-project-xblock-wrapper > nav li{
  display: inline;
  padding: 10px;
}

.group-project-xblock-wrapper .activity_section{
  display: none;
}

.group-project-xblock-wrapper .activity_section:first-of-type{
  display: block;
}

.group-project-xblock-wrapper .activity_section ul{
  margin-left: 30px;
}

.group-project-xblock-wrapper .lesson-pager {
  text-align: center;
  padding-top: rem-calc(40);
  padding-bottom: rem-calc(60);
}

.group-project-xblock-wrapper .lesson-pager .page-to{
  margin: 0 10px;
  @include font-spec(30);
  @include square-size(50px);
  @include drop-shadow(#333333, 0.2, 3px, 3px, 4px, 0px);
  border-radius: 50%;
  display: inline-block;
  background-color: #3384CA;
  color: #FFFFFF;
  padding: 10px 8px 8px;
  &.previous{ padding-right: 12px; }
  &.next{ padding-left: 10px; }
}

.group-project-xblock-wrapper .revealer.selected{
  color: #dddddd;
}

.group-project-xblock-wrapper button.submit{
  float: right;
}

.group-project-xblock-wrapper button.under{
  margin-top: 15px;
}

.group-project-xblock-wrapper .prompt{
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
}

.group-project-xblock-wrapper .prompt.side{
  width: 70%;
  display: inline-block;
  min-height: 70px;
  padding-top: 10px;
}

.group-project-xblock-wrapper .answer.side{
  width: 25%;
  float: right;
}

.group-project-xblock-wrapper .peer_review,
.group-project-xblock-wrapper .other_group_review,
.group-project-xblock-wrapper .feedback_sections{
  display: none;
}

.group-project-xblock-wrapper .highlight{
  color: #E37222;
}

.group-project-xblock-wrapper .other_submissions{
  float: right;
}

.group-project-xblock-wrapper .avatar{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  padding: 5px;
}

.group-project-xblock-wrapper .selected .avatar{
  border: 2px solid #E37222;
  padding: 3px;
}

.group-project-xblock-wrapper .data-closed button{
  display: none;
}

.group-project-xblock-wrapper label.prompt{
  padding-top: 15px;
  line-height: 1em;
}
.group-project-xblock-wrapper .quote{
  line-height: 1.5em;
  font-style: italic;
  padding-left: 15px;
}

.group-project-xblock-wrapper .quote:before, .group-project-xblock-wrapper .quote:after{
  content: '"';
}

.group-project-xblock-wrapper .comma{
  display: inline;
}

.group-project-xblock-wrapper .comma:before{
  content: ', ';
}

.group-project-xblock-wrapper .comma:after{
  content: '';
}

.group-project-xblock-wrapper .comma:first-child:before{
  content: '';
}

.group-project-xblock-wrapper .view_feedback.selected{
  color: #cccccc;
}

.group-project-xblock-wrapper .feedback_sections .prompt{
  font-weight: bold;
}

.group-project-xblock-wrapper .centered{
  text-align: center;
}

.group-project-xblock-wrapper .activity_section hr:last-child{
  display: none;
}