.group-project-xblock-wrapper > nav ul{
  list-style: none;
}
.group-project-xblock-wrapper > nav li{
  display: inline;
  padding: 10px;
}

.group-project-xblock-wrapper div{
  line-height: 1.6;
}

.group-project-xblock-wrapper .activity_section{
  display: none;
}

.group-project-xblock-wrapper .activity_section:first-of-type{
  display: block;
}

.group-project-xblock-wrapper .activity_section ul{
  margin-left: 30px;
}

.group-project-xblock-wrapper .lesson-pager {
  text-align: center;
  padding-top: rem-calc(40);
  padding-bottom: rem-calc(60);
}

.group-project-xblock-wrapper .lesson-pager .page-to{
  margin: 0 10px;
  @include font-spec(30);
  @include square-size(50px);
  @include drop-shadow(#333333, 0.2, 3px, 3px, 4px, 0px);
  border-radius: 50%;
  display: inline-block;
  background-color: #3384CA;
  color: #FFFFFF;
  padding: 10px 8px 8px;
  &.previous{ padding-right: 12px; }
  &.next{ padding-left: 10px; }
}

.group-project-xblock-wrapper .revealer.selected{
  color: #dddddd;
}

.group-project-xblock-wrapper button.submit{
  float: right;
}

.group-project-xblock-wrapper button.under{
  margin-top: 15px;
}

.group-project-xblock-wrapper .prompt{
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
}

.group-project-xblock-wrapper .prompt.side{
  width: 70%;
  display: inline-block;
  min-height: 70px;
  padding-top: 0;
}

.group-project-xblock-wrapper .answer.side{
  width: 25%;
  float: right;
}

.group-project-xblock-wrapper .peer_review,
.group-project-xblock-wrapper .other_group_review,
.group-project-xblock-wrapper .feedback_sections{
  display: none;
}

.group-project-xblock-wrapper .other_submissions{
  float: right;
  position:relative;
  width: 50%;
  text-align: right;
}

.group-project-xblock-wrapper .other_submission_links{
  display: none;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  right:0;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
}

.group-project-xblock-wrapper .avatar{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  margin: 2px;
}

.group-project-xblock-wrapper .selected .avatar{
  border: 2px solid #E37222;
}

.group-project-xblock-wrapper .data-closed button{
  display: none !important;
}

.group-project-xblock-wrapper label.prompt{
  padding-top: 15px;
  line-height: 1.6;
}
.group-project-xblock-wrapper .quote{
  line-height: 1.5em;
  font-style: italic;
  padding-left: 15px;
}

.group-project-xblock-wrapper .quote:before, .group-project-xblock-wrapper .quote:after{
  content: '"';
}

.group-project-xblock-wrapper .comma{
  display: inline;
}

.group-project-xblock-wrapper .comma:before{
  content: ', ';
}

.group-project-xblock-wrapper .comma:after{
  content: '';
}

.group-project-xblock-wrapper .comma:first-child:before{
  content: '';
}

.group-project-xblock-wrapper .view_feedback.selected{
  color: #cccccc;
}

.group-project-xblock-wrapper .feedback_sections .prompt{
  font-weight: bold;
}

.group-project-xblock-wrapper .centered{
  text-align: center;
}

.group-project-xblock-wrapper .activity_section hr:last-child{
  display: none;
}

.group-project-xblock-wrapper .submissions_message{
  font-style: italic;
}

.upload_form, .message{
  display: none;
}

.upload_form .upload_item{
  padding: 10px 0;
  font-size: 14px;
}
.upload_form .upload_item input[type=text]{
  width: 79%;
  display: inline-block;
  background-color: transparent;
  color: #3384ca;
  margin-bottom: 0;
}
.upload_form .upload_item label{
  width: 20%;
  display: inline-block;
  padding-left: 1%;
}
.upload_form .upload_item label span{
  margin-bottom: 0;
}

.upload_form .upload_item .description{
  font-size: 11px;
  font-style: italic;
}

.action_buttons{
  float:right;
}

.modal-bg{
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 99;
  top: 0;
  left: 0;
}
.xblock-reveal.reveal-modal.open{
  display:block !important;
  visibility:visible !important;
  width:80% !important;
}
.xblock-reveal.reveal-modal.open.small{
  width:40% !important;
}
.message .xblock-reveal.reveal-modal.open{
  width:500px !important;
  margin-left: -250px;
  position: fixed;
  top:45%;
  left:50%;
  padding-bottom: 0;
}
.message .xblock-reveal.reveal-modal.open .button{
  margin-top:30px;
}
.message .message_text{
  font-size:16px;
}
.close-box{
  font-size: 1.78571rem;
  line-height: 1;
  position: absolute;
  top: 0.57143rem;
  right: 0.78571rem;
  color: #aaaaaa;
  font-weight: bold;
  cursor: pointer;
}

.upload_form .file-progress-box{
  background-color: transparent;
  width: 79%;
  height: 5px;
  visibility: hidden;
}
.upload_form .file-progress-box .file-progress{
  background-color: #cccccc;
  width: 20%;
  height: 5px;
}
.upload_form .file-progress-box .file-progress.complete{
  background-color: #999999;
}

.group-project-xblock-wrapper .highlight,
.upload_form .highlight{
  color: #E37222;
}

.group-project-xblock-wrapper.waiting{
  cursor: wait !important;
}
.group-project-xblock-wrapper.waiting img,
.group-project-xblock-wrapper.waiting label,
.group-project-xblock-wrapper.waiting select,
.group-project-xblock-wrapper.waiting textarea,
.group-project-xblock-wrapper.waiting button,
.group-project-xblock-wrapper.waiting input,
.group-project-xblock-wrapper.waiting a{
  cursor: wait !important;
}