.group-project-navigator-wrapper {
    border: 1px solid #ccc;
}

.group-project-navigator-header {
    background-color: #66a5b5;
    text-transform: uppercase;
    color: white;
    padding: 8px 6px;
    font-size: 16px;
}

.group-project-navigator-header .marker {
    float: right;
}

.group-project-navigator-views {
    overflow: auto;
    padding: 0 5px;
    height: 400px;
}

.group-project-navigator-view {
    display: none;
}

.group-project-navigator-view-selector li {
    display: inline-block;
    list-style: none;
    padding: 0.7em 2em;
    background-color: #eee;
    margin: 1px 2px;
    cursor: pointer;
    border-radius: 3px;
    color: #555;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.group-project-navigator-view-selector li.active {
    background-color: #555;
    color: #eee;
}
