article.xblock-render div[data-block-type="group-project-v2-review-question"] .prompt {
    background: none;
}

/* urls for linking to stages/PN views */
.xblock[data-block-type] .url-name-footer,
.xblock[data-block-type] .url-name-footer {
  font-style: italic;
}

.xblock[data-block-type] .url-name-footer .url-name,
.xblock[data-block-type] .url-name-footer .url-name {
  margin: 0 10px;
  font-family: monospace;
}
