.group-project-xblock-wrapper > nav ul {
    list-style: none;
}

.group-project-xblock-wrapper > nav li {
    display: inline;
    padding: 10px;
}

.group-project-xblock-wrapper div {
    line-height: 1.6;
}

.group-project-xblock-wrapper .highlight {
    color: #e37222;
}

.group-project-xblock-wrapper .activity_section ul {
    margin-left: 30px;
}

.group-project-xblock-wrapper button.submit {
    float: right;
}

.group-project-xblock-wrapper button.under {
    margin-top: 15px;
}

.group-project-xblock-wrapper .prompt {
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 22px;
}

.group-project-xblock-wrapper .prompt.side {
    width: 70%;
    display: inline-block;
    min-height: 55px;
    padding-top: 0;
}

.group-project-xblock-wrapper .answer.side {
    width: 25%;
    float: right;
    margin-bottom: 0;
}

.group-project-xblock-wrapper .other_submissions {
    float: right;
    position: relative;
    width: 50%;
    text-align: right;
}

.group-project-xblock-wrapper .avatar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    margin: 2px;
}

.group-project-xblock-wrapper button[disabled] {
    cursor: not-allowed !important;
}

.group-project-xblock-wrapper label.prompt {
    padding: 5px auto;
    line-height: 1.6;
}

.group-project-xblock-wrapper .group-project-assessment-answers {
    padding-left: 15px;
}

.group-project-xblock-wrapper .group-project-answer {
    margin: 8px 0;
}

.group-project-xblock-wrapper .group-project-answer.quote {
    line-height: 1.5em;
    font-style: italic;
    color: #9e9e9e;
}

.group-project-xblock-wrapper .group-project-answer.quote:before,
.group-project-xblock-wrapper .group-project-answer.quote:after {
    content: '"';
}

.group-project-xblock-wrapper .group-project-answer-wrapper {
    color: #cccccc;
}


.group-project-xblock-wrapper .group-project-answer.comma {
    display: inline;
}

.group-project-xblock-wrapper .group-project-answer.comma:before {
    content: ', ';
}

.group-project-xblock-wrapper .group-project-answer.comma:after {
    content: '';
}

.group-project-xblock-wrapper .group-project-answer.comma:first-child:before {
    content: '';
}

.group-project-xblock-wrapper .view_feedback.selected {
    color: #cccccc;
}

.group-project-xblock-wrapper .feedback_stage .prompt {
    font-weight: bold;
}

.group-project-xblock-wrapper .centered {
    text-align: center;
}

.group-project-xblock-wrapper .activity_section hr:last-child {
    display: none;
}

.group-project-xblock-wrapper .submissions_message {
    font-style: italic;
}

.message, .review_submissions_dialog, .group-project-team-email-dialog {
    display: none;
}

.action_buttons {
    float: right;
}

.modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 99;
    top: 0;
    left: 0;
}

.xblock-reveal.reveal-modal.open {
    display: block !important;
    visibility: visible !important;
}

.group-project-xblock-wrapper .xblock-reveal.reveal-modal.open {
    width: 600px;
    position: fixed;
    top: 20%;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
}

.message .xblock-reveal.reveal-modal.open .button {
    margin-top: 30px;
}

.message .message_title {
    color: #60972f;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 4px;
}

.message .message_title.error {
    text-align: left;
    color: #E37222;
}

.message .message_text .icon {
    color: #3384ca;
}

.close-box {
    font-size: 1.78571rem;
    line-height: 1;
    position: absolute;
    top: 0.57143rem;
    right: 0.78571rem;
    color: #aaaaaa;
    font-weight: bold;
    cursor: pointer;
}

.group-project-xblock-wrapper .highlight,
.upload_form .highlight {
    color: #E37222;
}

.group-project-xblock-wrapper.waiting {
    cursor: wait !important;
}

.group-project-xblock-wrapper.waiting img,
.group-project-xblock-wrapper.waiting label,
.group-project-xblock-wrapper.waiting select,
.group-project-xblock-wrapper.waiting textarea,
.group-project-xblock-wrapper.waiting button,
.group-project-xblock-wrapper.waiting input,
.group-project-xblock-wrapper.waiting a {
    cursor: wait !important;
}

.group-project-xblock-wrapper .question {
    margin-top: 10px;
}

.group-project-xblock-wrapper .group-project-question-title {
    font-weight: 600;
    display: block;
}

.group-project-xblock-wrapper .group-project-answer-mean {
    text-transform: uppercase;
}

.group-project-xblock-wrapper .group-project-answer {
    display: block;
}

.group-project-xblock-wrapper .group-project-final-grade {
    float:right;
    margin-top: 10px;
    text-transform: uppercase;
}

.group-project-xblock-wrapper .group-project-static-content-block {
    color: #e37222;
}

.group-project-xblock-wrapper .block-link {
    font-weight: bold;
}

.group-project-xblock-wrapper .group-project-content {
    width: 65%;
    display: inline-block;
}

.group-project-xblock-wrapper .group-project-navigator {
    width: 35%;
    float: right;
    margin-right: -15px;
    display: inline-block;
}

.group-project-xblock-wrapper #group-project-discussion {
    display:none;
}

.group-project-xblock-wrapper #group-project-discussion .discussion-module {
    width: 100%;
}

.group-project-xblock-wrapper #group-project-discussion .reveal-modal {
    width: 120%;
    left: -10%;
    margin-left: 0;
    position: absolute;
    top: 0;
}

.group-project-xblock-wrapper .group-project-user-label {
    color: #3384ca;
    font-weight: 600;
}

.group-project-xblock-wrapper .stage_content {
    font-size: 14px;
    line-height: 1.5em;
    color: #333333;
}
