.group-project-navigator-wrapper {
    border: 1px solid #ccc;
}

.group-project-navigator-header {
    background-color: #66a5b5;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.group-project-navigator-header .marker {
    float: right;
    margin-right: 8px;
    font-size: 20px;
}

.group-project-navigator-views {
    overflow: auto;
    min-height: 400px;
    max-height: 600px;
}

.group-project-navigator-view {
    display: none;
}

.group-project-navigator-view-selector li {
    display: inline-block;
    list-style: none;
    padding: 0.7em 2em;
    background-color: #eee;
    margin: 1px 2px;
    cursor: pointer;
    border-radius: 3px;
    color: #555;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.group-project-navigator-view-selector li.active {
    background-color: #555;
    color: #eee;
}

.group-project-navigation-view .group-project-activity-header {
    text-transform: uppercase;
    background-color: #ddd;
    padding: 4px 8px;
    margin-bottom: 4px;
}

.group-project-navigation-view .group-project-activity-stages {
    padding: 0 8px;
    margin: 0;
}

.group-project-navigation-view .group-project-stage {
    border-bottom: 1px solid #ccc;
    padding-left: 18px;
    list-style: none;
}

.group-project-navigation-view  .group-project-stage-state {
    display: inline-block;
    font-size: 16px;
    margin-left: -18px;
}

.group-project-navigation-view .group-project-stage-state.completed {
    color: green;
}

.group-project-navigation-view .group-project-stage-state.incomplete {
    color: #b7d432;
}

.group-project-navigation-view .group-project-stage-title {
    color: #8f8f8f;
}