{% load i18n %}
<div class="group_selector">
  <div class="review_selector_header">
    {% trans "Please click on the group(s) you are assigned to grade to review their submissions" %}
  </div>

  <div>
    {% if demo %}<div>{% trans "Demo contents" %}</div>{% endif %}
    <ul class="groups review_subjects">
      {% for group in groups %}
      <li class="select_group {% cycle 'odd' 'even' %}" data-id="{{ group.id }}">
        {% comment %}
          FIXME: Slightly not a11y friendly: if language have different rules for writing up index numbers.
          Should be something more like _("Group {index_number}:").format(index_number=number)
        {% endcomment %}
        <span class="review_subject_label">{% trans "Group" %} {{ forloop.counter }}:</span>
        <span class="review_evaluating_now">{% trans "Evaluating below" %}</span>
        <div class="other_submissions"><a href="#" class="view_other_submissions">View team submissions</a></div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
