{% load i18n %}
<div class="peer_selector">
  <div class="review_selector_header">
    {% trans "Please click on the teammates to review their performance" %}
  </div>

  <div>
    {% if demo %}<div>{% trans "Demo contents" %}</div>{% endif %}
    {% if peers %}
      <ul class="peers review_subjects">
        {% for peer in peers %}
        <li class="select_peer {% cycle 'odd' 'even' %}" title="{{ peer.username }}" data-id="{{ peer.id }}" data-username="{{ peer.username }}">
          {% comment %}
            FIXME: Slightly not a11y friendly: if language have different rules for writing up index numbers.
            Should be something more like _("Teammate {index_number}:").format(index_number=number)
          {% endcomment %}
          <span class="review_subject_label">{% trans "Teammate" %} {{ forloop.counter }}:</span>
          {{ peer.user_label }}
          <span class="review_evaluating_now">{% trans "Evaluating below" %}</span>
          <img class="avatar" {% if peer.avatar_url %} src="{{peer.avatar_url }}" {% endif %}/>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="group-project-review-selector-no-review-subjects">{% trans "No teammates to review" %}</div>
    {% endif %}
  </div>
</div>
