{% load i18n %}
<div class="group-project-team-wrapper">
  <a href="#" class="group-project-team-email-group">{% trans "Email your entire team" %}</a>
  {% for team_member in team_members %}
    <div class="group-project-team-member">
      <div class="group-project-team-member-avatar">
        <img class="avatar" {% if team_member.avatar_url %} src="{{team_member.avatar_url }}" {% endif %}/>
      </div>
      <div class="group-project-team-member-data">
        <div class="group-project-team-member-info">
          <div class="group-project-team-member-username">
            <a href={{course_id}}/discussion/forum/users/{{ team_member.id }}>{{ team_member.username}}</a>
          </div>
          <div class="group-project-team-member-name">{{ team_member.full_name }}</div>
          <div class="group-project-team-member-title">
            {% if team_member.title %}{{ team_member.title }}{% endif %}
          </div>
          <div class="group-project-team-member-organization">
            {% if team_member.organization %}{{ team_member.organization }}{% endif %}
          </div>
          <div class="group-project-team-member-city">
            {% if team_member.city %}{{ team_member.city }}{% endif %}
          </div>
        </div>
        <div class="group-project-team-member-email">
          <a href="#" data-email="{{ team_member.email }}">{% trans "Email" %}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="group-project-team-email-dialog group-project-team-email-group-modal">
  <div class="modal-bg"></div>
  <div class="xblock-reveal reveal-modal open">
    <div class="close-box">
      <i class="fa fa-times-circle"></i>
    </div>
    <h2 class="group-project-team-email-modal-title">{% trans "Message your group" %}</h2>
    <hr/>
    <div class="group-project-team-email-modal-subtitle">{% trans "Send any questions or messages to your group." %}</div>
    <div class="error"></div>
    <form class="email-member-form" action="/courses/{{ course_id }}/group_email/{{ group_id }}" method="POST">
      <input type="hidden" class="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="">
      <textarea placeholder='{% trans "Enter your message for the group here" %}' name="group_message"></textarea>
      <input class="button radius small" type="submit" value='{% trans "Submit" %}' disabled="disabled">
    </form>
  </div>
</div>

<div class="group-project-team-email-dialog group-project-team-email-member-modal">
  <div class="modal-bg"></div>
  <div class="xblock-reveal reveal-modal open">
    <div class="close-box">
      <i class="fa fa-times-circle"></i>
    </div>
    <h2 class="group-project-team-email-modal-title">{% trans "Message your group member"%}</h2>
    <hr/>
    <div class="group-project-team-email-modal-subtitle">{% trans "Send any questions or messages to your group member." %}</div>
    <div class="error"></div>
    <form class="email-member-form" action="/courses/{{ course_id }}/group_member_email/{{ group_id }}" method="POST">
      <input type="hidden" class="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="">
      <input type="hidden" class="member-email" name="member-email" value="">
      <textarea placeholder='{% trans "Enter your message here" %}' name="member_message"></textarea>
      <input class="button radius small" type="submit" value='{% trans "Submit" %}' disabled="disabled">
    </form>
  </div>
</div>

