{% load i18n %}
{% if upload and upload.location %}
  <div>
    <a href="{{ upload.location }}"{% if submission.description %} title="{{ submission.description }}"{% endif %} target="_blank">{{ submission.display_name }}</a>
    {% if upload.file_name %}
      <span class="upload_filename">({{ upload.file_name }})</span> -
      <span class="upload_item_data">
        {% trans "Uploaded by" %} {{ upload.user_details.user_label }} on {{ upload.submission_date }}
      </span>
    {% endif %}
  </div>
{% else %}
  <div class="no_submission"{% if submission.description %} title="{{ submission.description }}"{% endif %}>
    {{ submission.display_name }} ({% trans "This file has not been submitted by this group" %})
  </div>
{% endif %}
