.group-project-navigator-wrapper {
    border: 1px solid #ccc;
    color: #8f8f8f;
}

.group-project-navigator-header {
    background-color: #66a5b5;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.group-project-navigator-header .marker {
    float: right;
    margin-right: 8px;
    font-size: 20px;
}

.group-project-navigator-views {
    overflow: auto;
    min-height: 400px;
}

.group-project-navigator-view {
    display: none;
    padding: 0 10px;
}

.group-project-navigator-view-selector {
    margin: 5px 0 0 0;
    padding: 0 10px;
}

.group-project-navigator-view-selector li {
    display: inline-block;
    list-style: none;
    padding: 0.7em 2em;
    background-color: #eee;
    margin: 1px 2px;
    cursor: pointer;
    border-radius: 3px;
    color: #555;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.group-project-navigator-view-selector li.active {
    background-color: #555;
    color: #eee;
}

.group-project-navigator-view ul {
    margin: 0;
}

.group-project-navigator-view .group-project-navigator-view-header {
    padding: 8px 10px;
    margin: 0 -10px;
}

.group-project-navigator-view .group-project-navigator-view-title {
    color: #66a5b5;
    font-size: 16px;
}

.group-project-navigator-view .group-project-navigator-view-close {
    color: #e5ebee;
    font-size: 16px;
    float: right;
    cursor: pointer;
}

.group-project-navigator-view .group-project-activity-header {
    text-transform: uppercase;
    background-color: #f3f3f3;
    padding: 4px 8px;
    margin: 0 -10px 4px -10px;
    color: #8e8e8e;
}


.group-project-navigator-wrapper.author-view .group-project-navigator-view {
    display: block;
}