.group-project-resources-view .group-project-resources li {
    list-style-type: disc;
}

.group-project-resources-view ul.group-project-resources {
    padding-left: 20px;
}

.group-project-resources-view .player-modal {
    position: fixed;
    top: 50% !important;
    margin-top: -243.5px;
    display: none;
    z-index: 100002;
    visibility: visible;
}

.group-project-resources-view .player-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.45) none repeat scroll 0 0;
    display: none;
    top: 0;
    left: 0;
    z-index: 100001;
}

.group-project-resources-view .player-modal .player-wrapper {
    width: 100%;
    height: 425px;
    max-width: 745px;
    margin: 0 auto;
}
