{% load i18n %}
<form class="review other_group_review" data-review-type="group_review" action="submit_review" method="POST">
  {{ children_content|safe }}
  <hr/>
  <button class="submit" {% if stage.is_closed %}disabled="disabled"{% endif %}>Submit</button>
</form>


<div class="review_submissions_dialog">
  <div class="modal-bg"></div>
  <div class="xblock-reveal reveal-modal open small">
    <div class="close-box close_review_dialog">
      <i class="fa fa-times-circle"></i>
    </div>
    <div class="title">{% trans "Group Submissions" %}</div>
    <div>{% trans "Please review the file(s) below to evaluate the group's work." %}</div>
    <div class="other_submission_links"></div>
  </div>
</div>
