{% load i18n %}
<li class="group-project-stage" data-stage-id="{{ stage.id }}">
  <span class="group-project-stage-state {{ stage_state }}"></span>
  <span class="group-project-stage-type">
    <a href="{{ block_link }}" title="{{ stage.display_name }}" data-stage-id="{{ stage.id }}" data-activity-id="{{ activity_id }}">
      {{ stage.STAGE_TYPE }}:
    </a>
  </span>
  <span class="group-project-stage-title group-project-navigator-grey-text">{{ stage.display_name }}</span>
  <span class="highlight">
  {% if stage.close_date and stage.is_closed %}
    {% trans "Closed on" %} {{ stage.formatted_close_date }}
  {% elif stage.close_date and stage.is_open %}
    {% trans "Due" %} {{ stage.formatted_close_date }}
  {% elif stage.open_date and not stage.is_open %}
    {% trans "Available" %} {{ stage.formatted_open_date }}
  {% endif %}
  </span>
</li>
