{% load i18n %}
<div class="group-project-stage {% if is_current_stage %}current{% endif %} {% if not stage.available_now %}disabled{% endif %}" data-stage-id="{{ stage.id }}">
  <span class="group-project-stage-state fa {{ stage_state }}"></span>
  {% if not stage.hide_stage_label %}
    <span class="group-project-stage-type">{{ stage.NAVIGATION_LABEL }}:</span>
  {% endif %}
  <span class="group-project-stage-title">
    <a href="{{ block_link }}" title="{{ stage.display_name }}" data-stage-id="{{ stage.id }}" data-activity-id="{{ activity_id }}"
       {% if not stage.available_now %}disabled="disabled"{% endif %}
        >
      {{ stage.display_name }}
    </a>
  </span>
  <span class="group-project-stage-dates">
  {% if stage.close_date and stage.is_closed %}
    {% trans "Closed on" %} {{ stage.formatted_close_date }}
  {% elif stage.close_date and stage.is_open %}
    {% trans "Due" %} {{ stage.formatted_close_date }}
  {% elif stage.open_date and not stage.is_open %}
    {% trans "Available" %} {{ stage.formatted_open_date }}
  {% endif %}
  </span>
</div>
