{% if activity_stage.content_html %}
  {{ activity_stage.content_html|safe }}
  <hr/>
{% endif %}

<div class="group_submissions">
  <h4>Current Uploads</h4>
  {% if activity_stage.has_submissions %}
    {% for file_link in activity_stage.submissions %}
      {% if file_link.location %}
        <div><a href="{{ file_link.location }}" title="{{ file_link.description }}" target="_blank">{{ file_link.title }}{% if file_link.file_name %} ({{ file_link.file_name }} - {{ file_link.submission_date }}){% endif %}</a></div>
      {% endif %}
    {% endfor %}
  {% else %}
      <div class="submissions_message">No submissions have been uploaded for this group</div>
  {% endif %}
</div>
<hr/>

<!-- This will likely go to Project Navigator.Uploads -->
{% if activity_stage.is_upload_available %}
  <button class="show_upload_form">Upload</button>
  <div class="upload_form">
    <div class="modal-bg"></div>
    <div class="xblock-reveal reveal-modal open small">
      <div class="close-box cancel_upload">
        <i class="fa fa-times-circle"></i>
      </div>
      {% if activity_stage.upload_html %}
        {{ activity_stage.upload_html|safe }}
        <hr />
      {% endif %}
      <form class="uploader">
        {% for file_link in activity_stage.submissions %}
          <div class="upload_item">
            <div class="upload_title">{{ file_link.title }}</div>
            <input class="{{ file_link.id }}_name" placeholder="Browse your computer to upload file..." disabled="disabled" type="text" {% if file_link.file_name %}value="{{ file_link.file_name }}" data-original-value="{{ file_link.file_name }}"{% endif %}/>
            <label for="{{ file_link.id }}">
              <span class="side button tiny radius {{ file_link.id }}_label">{% if file_link.location %}Update{% else %}Browse{% endif %}</span>
            </label>
            <input style="display:none;" class="file_upload" name="{{ file_link.id }}" id="{{ file_link.id }}" type="file" />
            {% if file_link.description %}
              <div class="description">{{ file_link.description }}</div>
            {% endif %}
            <div class="{{ file_link.id }}_progress_box file-progress-box">
              <div class="{{ file_link.id }}_progress file-progress"></div>
            </div>
          </div>
        {% endfor %}
      </form>
      <hr />
      <div class="action_buttons">
        <a href="#" class="cancel_upload">Cancel</a>
        <button disabled href="#" class="do_upload button radius small">Upload</button>
      </div>
    </div>
  </div>
{% endif %}